name: Handle Email Issues

on:
  issues:
    types: [opened]

jobs:
  handle_email_issues:
    if: startsWith(github.event.issue.title, '[邮箱订阅]')
    runs-on: ubuntu-latest

    steps:
    - name: Add subscribed label
      uses: actions-cool/issues-helper@v3
      with:
        actions: 'add-labels'
        token: ${{ secrets.GITHUB_TOKEN }}
        issue-number: ${{ github.event.issue.number }}
        labels: 'subscribed'

    - name: Comment on issue
      uses: actions-cool/issues-helper@v3
      with:
        actions: 'create-comment'
        token: ${{ secrets.GITHUB_TOKEN }}
        issue-number: ${{ github.event.issue.number }}
        body: |
          你好，${{ github.event.issue.user.login }}！
          你已经成功订阅本站的邮件推送服务啦！后续有新文章发布时，会第一时间通过邮箱通知你，感谢你的关注与支持！
          若你需要取消订阅，直接删除这个Issue即可，祝你使用愉快！

    - name: Close issue
      uses: actions-cool/issues-helper@v3
      with:
        actions: 'close-issue'
        token: ${{ secrets.GITHUB_TOKEN }}
        issue-number: ${{ github.event.issue.number }}
